<div class = "textBody"><p>Card Balance Lookup:</p>
</div>
<div class = "textBody">
    <input id="cardNum" type="number" [formControl]="cardNum" required maxlength="12" minlength="12">
    <button id ="butt" type="submit" [disabled]="!cardNum.valid" value="cardNum" (click)="onSubmit()">Submit</button>
    <div *ngIf="cardNum.invalid && (cardNum.dirty || cardNum.touched)" class="alert">
        <div *ngIf="cardNum.errors?.['required']">
            You must enter a number.
        </div>
        <div *ngIf="cardNum.errors?.['minlength']">
            The number is too short.
        </div>
    </div>
   
</div>
<div class = "textBody">
<p>Current card balance: ${{balance}}</p>

</div>
